.button-wrapper {
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 50px;
    background: #0A243D;
    border: 1px double #0081ff;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.line {
    position: absolute;
    width: 1px !important;
    background-color: #0081ff;
    transition: .3s;
}

.line1 {
    height: 40px;
    left: -5px;
    top: 5px;
}

.line2 {
    height: 30px;
    left: -10px;
    top: 10px;
}

.line3 {
    height: 20px;
    left: -15px;
    top: 15px;
}

.line4 {
    height: 40px;
    right: -5px;
    top: 5px;
}

.line5 {
    height: 30px;
    right: -10px;
    top: 10px;
}

.line6 {
    height: 20px;
    right: -15px;
    top: 15px;
}

.button-corner {
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #2C8FC0;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

.button-corner1 {
    height: 2px;
    width: 26px;
    position: absolute;
    left: 0px;
    bottom: 3px;
    background: #2C8FC0;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

.button-corner2 {
    height: 2px;
    width: 22px;
    position: absolute;
    left: 0px;
    bottom: 6px;
    background: #2C8FC0;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

.button-title {
    line-height: 45px;
    font-size: 26px;
    color: white;
    width: 120px;
    text-align: center;
    font-weight: bold;
}

.button-icon {
    margin: 5px 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    color: white;
    border-radius: 50%;
    border: 2px dashed #0081ff;
    transition: .3s;
}

.button-wrapper:hover .line{
    box-shadow: 0 0 5px #1ED3F3, 0 0 10px #1ED3F3;
}

.button-wrapper:hover{
    -webkit-box-shadow: 0px 0px 8px 5px rgba(30, 211, 243, 0.2);
    -moz-box-shadow: 0px 0px 8px 5px rgba(30, 211, 243, 0.2);
    box-shadow: 0px 0px 8px 5px rgba(30, 211, 243, 0.2);
}

.button-wrapper:hover .button-icon{
    box-shadow: 0 0 2px #1ED3F3, 0 0 5px #1ED3F3;
}