.flex {
    display: flex;
}

.container {
    margin: 20px;
    width: 500px;
    background-color: #0136A1;
    border: 2px solid #5472ff;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.2) inset;
}

.title {
    color: white;
    width: 200px;
    margin: 10px 0 10px 20px;
    line-height: 35px;
    font-size: 1.8rem;
}

.glowing-line {
    margin-left: 20px;
    height: 3px;
    width: 200px;
    background: rgb(0, 65, 255);
    background: linear-gradient(90deg, rgba(0, 65, 255, 1) 0%, rgba(81, 198, 255, 1) 35%, rgba(0, 52, 255, 1) 100%);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
    animation: linebackground 2s linear infinite;
    border-radius: 30px;
}

@keyframes linebackground {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 200px;
    }
}

.pagination-choices {
    cursor: pointer;
    margin: 25px 5px 0 5px;
    box-sizing: border-box;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 1rem;
    color: white;
    border: 1px solid blue;
    clip-path: polygon(20% 0, 80% 0, 100% 25%, 100% 75%, 80% 100%, 20% 100%, 0 75%, 0 25%);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75) inset;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75) inset;
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75) inset;
    transition: 0.3s;
}

.pagination-choices:hover {
    box-shadow: 0px 0px 0px 3px rgba(0,214,255,0.75) inset;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,214,255,0.75) inset;
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,214,255,0.75) inset;
}

.space-around {
    justify-content: space-around;
}

.table {
    color: white;
    width: 400px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.row {
    background-color: #00247F;
    height: 30px;
    box-shadow: -1px -1px 4px 1px rgba(0,214,255,0.75) inset;
    -webkit-box-shadow: -1px -1px 4px 1px rgba(0,214,255,0.75) inset;
    -moz-box-shadow: -1px -1px 4px 1px rgba(0,214,255,0.75) inset;
    transition: 0.5s;
}

.m-t-14 {
    margin: 14px 0;
}

.active {
    box-shadow: 0px 0px 0px 3px rgba(0,214,255,0.75) inset;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,214,255,0.75) inset;
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,214,255,0.75) inset;
}

.rotate0 {
    transform: rotateX(0deg);
}

.rotate360 {
    transform: rotateX(360deg);
}

.row-title {
    color: #1ED3F3;
}